body{
	 background: url(https://images.unsplash.com/photo-1492105162642-112adbfe2977?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2480&q=200) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:'Roboto Condensed','Arial', sans-serif;
}


.pull-right {
	float: right;
}
.pull-left{
	float: left;
}

.logo {
	text-align: center;
	margin: 20px 20px 30px 20px;
	font-family: 'Cookie';
	font-size: 30px;
	color: #AB929A;
}


#formWrapper{
	background: rgba(0,0,0,.2);
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	transition:all .3s ease;
}


#form {
	width:360px;
	background-color: #fff;
	margin:auto;
	border-radius: 5px;
	padding: 50px;
	padding-bottom: 100px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.form-style{
	color:#000;
	display: block;
	width: 90%;
	height: 44px;
	padding: 5px 5%;
	margin-top: 10px;
	border:1px solid #ccc;
	border-radius: 27px;
	background-color: #fff;
	font-family:'HelveticaNeue','Arial', sans-serif;
	font-size: 105%;
	letter-spacing: .8px;
}

input::placeholder {
	color: #848484;
	font-family: 'Roboto Condensed'
}

.formLabel {
	padding: 10px;
	margin-bottom: 10px;
	color:#848484;
	font-weight: bold;
}

.login {
	width: 112px;
	height: 37px;
	border-radius: 19px;
	background-color: #55b1df;
	border:1px solid #55b1df;
	color: #fff;
	font-weight: bold;
	margin-top: 30px;
}

.login:hover {
	background-color: #fff;
	border:1px solid #55b1df;
	color:#55b1df;
	cursor:pointer;
}

.login:focus {
	outline: none;
}
